<a href="https://colab.research.google.com/github/combechelsey/Water-Data-Proposals/blob/main/Project_2_Proposals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Summary of 2 Potential Datasets for Machine Learning**
###Chelsey Combe

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#**Full Scale Waste Water Treatment Plant Data**

1. Source of data
  - Kaggle.  Data originally sourced from a wastewater treatment plant in Melbourne, Australia a well as open access data by Melbourne weather stations.

  - url:  https://www.kaggle.com/datasets/d4rklucif3r/full-scale-waste-water-treatment-plant-data

2. Brief description of data

  - Energy consumption, climate, and wastewater characteristics of Melbourne eastern wastewater treatment plant for preiod of six years (2014-2019).

  - Sources for data: "This dataset is a combination (inner join) of open access data produced by Melbourne water and Melbourne airport weather station. Power consumption, Hydraulic, biological, and climate data are merged by the record date column (day/month/year)."

3. What is the target?

  - Regression Problem--Analzye the outflow of the wastewater treatment plant following treatment.

4. What does one row represent? (A person? A business? An event? A product?)

  - Water quality, contaminants, and biologial oxygen requirements for treatment.

5. Is this a classification or regression problem?

  - Regression--Outflow

6. How many features does the data have?
  - 20 Features

7. How many rows are in the dataset?
  - 1382 Rows

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

  - Is the dataset large enough for reliable prediction?

In [ ]:
https://www.kaggle.com/datasets/d4rklucif3r/full-scale-waste-water-treatment-plant-data

In [15]:
#Loading dataset
file_path = "/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week08/Data/Data-Melbourne_F.csv"
df = pd.read_csv(file_path)
df.head(30)

,avg_outflow,avg_inflow,total_grid,Am,BOD,COD,TN,T,TM,Tm,SLP,H,PP,VV,V,VM,VG,year,month,day
0,2.941,2.589,175856,27.0,365.0,730.0,60.378,19.3,25.1,12.6,0.0,56,1.52,10.0,26.9,53.5,79.5,2014,1,1
1,2.936,2.961,181624,25.0,370.0,740.0,60.026,17.1,23.6,12.3,0.0,63,0.00,10.0,14.4,27.8,0.0,2014,1,2
2,2.928,3.225,202016,42.0,418.0,836.0,64.522,16.8,27.2,8.8,0.0,47,0.25,10.0,31.9,61.1,77.8,2014,1,5
3,2.928,3.354,207547,36.0,430.0,850.0,63.000,14.6,19.9,11.1,0.0,49,0.00,10.0,27.0,38.9,53.5,2014,1,6
4,2.917,3.794,202824,46.0,508.0,1016.0,65.590,13.4,19.1,8.0,0.0,65,0.00,10.0,20.6,35.2,53.5,2014,1,7
5,2.912,3.750,247691,40.0,410.0,820.0,61.786,18.9,27.3,7.7,0.0,52,0.00,0.0,15.6,31.7,0.0,2014,1,8
6,2.355,3.507,224706,51.0,555.0,1110.0,68.820,25.9,32.4,12.1,0.0,39,0.00,0.0,26.7,46.5,59.4,2014,1,9
7,2.366,3.188,212440,41.0,365.0,730.0,62.218,17.7,24.6,13.0,0.0,69,0.00,9.8,13.1,25.9,0.0,2014,1,12
8,3.923,3.378,202676,26.0,355.0,710.0,61.433,26.4,36.0,12.7,0.0,44,0.00,0.0,19.8,51.9,64.8,2014,1,13
9,3.912,3.425,202411,42.0,530.0,830.0,66.354,35.5,43.5,28.5,0.0,20,0.00,0.0,27.8,57.6,72.2,2014,1,14
10,2.971,3.775,171123,47.0,435.0,870.0,65.531,32.1,42.9,23.7,0.0,29,0.00,0.0,18.0,35.2,0.0,2014,1,15
11,3.833,3.763,193509,43.0,295.0,590.0,59.548,33.9,43.1,23.7,0.0,24,0.00,0.0,19.3,46.5,0.0,2014,1,16
12,2.984,3.487,205761,38.0,600.0,1200.0,68.820,19.2,23.1,15.2,0.0,64,0.00,10.0,24.8,31.7,0.0,2014,1,19
13,3.236,3.604,184108,38.0,465.0,930.0,64.568,18.4,24.7,15.8,0.0,66,0.00,10.0,25.6,35.2,0.0,2014,1,20
14,2.950,3.600,200044,38.0,505.5,1011.0,65.590,17.6,22.6,14.0,0.0,61,0.00,10.0,25.0,37.0,46.5,2014,1,21
15,2.935,3.481,173825,47.0,470.0,980.0,76.000,16.3,23.4,10.0,0.0,59,0.00,0.0,17.4,29.4,0.0,2014,1,22
16,2.937,3.623,230632,39.0,431.0,862.0,64.847,23.6,33.7,10.2,0.0,52,1.52,8.5,14.8,27.8,46.5,2014,1,23
17,3.308,3.785,236472,45.0,380.0,760.0,62.090,16.3,22.8,12.8,0.0,72,4.32,10.0,21.9,31.7,0.0,2014,1,24
18,2.933,3.596,214057,36.0,345.0,690.0,63.227,29.3,35.5,16.7,0.0,26,0.00,0.0,32.6,48.2,66.5,2014,1,27
19,2.940,3.642,204062,29.0,286.5,573.0,54.630,27.2,42.1,17.6,0.0,34,0.00,10.0,25.7,51.9,70.6,2014,1,28
20,3.427,3.519,245524,31.0,360.0,720.0,61.496,17.7,23.7,13.0,0.0,64,0.00,10.0,20.2,33.5,46.5,2014,1,29
21,2.980,3.541,230113,38.0,380.0,840.0,65.374,22.6,31.1,12.9,0.0,55,0.00,8.0,13.3,22.2,0.0,2014,1,30
22,2.997,3.526,214635,43.0,344.0,688.0,63.521,31.7,40.5,23.0,0.0,23,0.00,0.0,15.6,33.5,46.5,2014,2,2
23,2.978,3.542,210017,44.0,390.5,781.0,62.569,19.2,0.0,13.8,0.0,56,0.51,10.0,29.6,38.9,57.6,2014,2,3
24,2.983,3.332,201393,35.0,391.5,783.0,62.218,17.7,25.0,10.8,0.0,54,0.00,10.0,25.7,44.6,59.4,2014,2,4
25,2.989,3.249,201578,48.0,270.0,740.0,55.000,22.5,30.9,10.6,0.0,42,0.00,0.0,20.0,51.9,0.0,2014,2,5
26,2.991,3.408,190528,46.0,385.0,770.0,63.380,28.7,35.3,14.2,0.0,27,0.00,0.0,29.8,51.9,59.4,2014,2,6
27,2.989,3.498,177913,41.0,377.5,755.0,62.371,21.8,0.0,13.0,0.0,36,0.00,10.0,25.4,57.6,79.5,2014,2,9
28,2.967,3.488,174894,34.0,435.5,871.0,64.366,17.6,23.7,12.0,0.0,61,0.00,9.7,20.6,31.7,0.0,2014,2,10
29,2.965,3.448,196915,36.0,320.0,871.0,64.301,20.1,27.3,11.9,0.0,68,0.00,6.4,14.8,20.6,0.0,2014,2,11

In [13]:
df.shape

(1382, 20)

#**Drinking_Water_Potability**

Contaminated water and poor sanitation are linked to the transmission of diseases such as cholera, diarrhea, dysentery, hepatitis A, typhoid, and polio. Absent, inadequate, or inappropriately managed water and sanitation services expose individuals to preventable health risks. This is particularly the case in health care facilities where both patients and staff are placed at additional risk of infection and disease when water, sanitation, and hygiene services are lacking.

1. Source of data
  - Kaggle.  Water Quality Data

  - url:  1. Source of data

  - url:  https://www.kaggle.com/datasets/d4rklucif3r/full-scale-waste-water-treatment-plant-data

2. Brief description of data

  - Water Quality and COntaninant data for the purpose of determining suitability for human consumption.

3. What is the target?

  - Classification problem - Potable or non-potalbe water.

4. What does one row represent? (A person? A business? An event? A product?)

  - Ph, hardness, sulfates, carbon.

5. Is this a classification or regression problem?

  - Classification

6. How many features does the data have?
  - 10 Features

7. How many rows are in the dataset?
  - 3276 Rows

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

  - I have not found the original source of the data yet.


  - 1382 Rows

https://www.kaggle.com/datasets/artimule/drinking-water-probability

In [16]:
#Loading dataset
file_path = "/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week08/Data/drinking_water_potability.csv"
df = pd.read_csv(file_path)
df.head(30)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890456,20791.31898,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.05786,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.54173,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.41744,8.059332,356.886136,363.266516,18.436525,100.341674,4.628771,0
4,9.092223,181.101509,17978.98634,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.68774,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.71654,7.513408,393.663395,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.09176,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
8,NaN,118.988579,14285.58385,7.804174,268.646941,389.375566,12.706049,53.928846,3.595017,0
9,11.180284,227.231469,25484.50849,9.077200,404.041635,563.885481,17.927806,71.976601,4.370562,0
10,7.360640,165.520797,32452.61441,7.550701,326.624353,425.383420,15.586810,78.740016,3.662292,0
11,7.974522,218.693300,18767.65668,8.110385,NaN,364.098230,14.525746,76.485911,4.011718,0
12,7.119824,156.704993,18730.81365,3.606036,282.344050,347.715027,15.929536,79.500778,3.445756,0
13,NaN,150.174923,27331.36196,6.838223,299.415781,379.761835,19.370807,76.509996,4.413974,0
14,7.496232,205.344982,28388.00489,5.072558,NaN,444.645352,13.228311,70.300213,4.777382,0
15,6.347272,186.732881,41065.23476,9.629596,364.487687,516.743282,11.539781,75.071617,4.376348,0
16,7.051786,211.049406,30980.60079,10.094796,NaN,315.141267,20.397022,56.651604,4.268429,0
17,9.181560,273.813807,24041.32628,6.904990,398.350517,477.974642,13.387341,71.457362,4.503661,0
18,8.975464,279.357167,19460.39813,6.204321,NaN,431.443990,12.888759,63.821237,2.436086,0
19,7.371050,214.496611,25630.32004,4.432669,335.754439,469.914552,12.509164,62.797277,2.560299,0
20,NaN,227.435048,22305.56741,10.333918,NaN,554.820087,16.331693,45.382815,4.133423,0
21,6.660212,168.283747,30944.36359,5.858769,310.930858,523.671298,17.884235,77.042318,3.749701,0
22,NaN,215.977859,17107.22423,5.607060,326.943978,436.256194,14.189062,59.855476,5.459251,0
23,3.902476,196.903247,21167.50010,6.996312,NaN,444.478882,16.609033,90.181676,4.528523,0
24,5.400302,140.739062,17266.59342,10.056852,328.358241,472.874073,11.256381,56.931906,4.824786,0
25,6.514415,198.767351,21218.70287,8.670937,323.596349,413.290450,14.900000,79.847843,5.200885,0
26,3.445062,207.926260,33424.76868,8.782147,384.007006,441.785876,13.805902,30.284597,4.184397,0
27,NaN,145.768181,13224.93564,7.906445,304.001993,298.990666,12.729525,49.536849,4.004871,0
28,NaN,266.421018,26362.96501,7.700063,395.389490,364.480107,10.348951,53.008381,3.991564,0
29,NaN,148.153061,15193.41347,9.046833,307.011793,563.804743,16.568656,52.676185,6.038185,0

In [18]:
df.shape

(3276, 10)